 hr{
    margin-top: 10px;
    margin-bottom:10px;    
  }
.search-input{
  border:none;
  border-radius: 15px;
  height: 50px;
}
.search-input-row{
  padding:5px;
  margin-left:1px;
}
.search-button{
  background-color: black;
}
input:focus {
    outline:none;
}
.recent-post-row{
    padding: 10px;
}
.recent-post{
    color: black;
}
@media only screen and (min-width:993px){
  .blog-sidebar{
      height: 100%;
      position: fixed;
      z-index: 1;
      width: 300px;
      top: 100px;
      overflow-x: hidden;
  }
  .main{
      top: -50px;
      margin-left: 300px; /* Same as the width of the sidenav */
  }
}
.blog-sidebar a{
  color: #000000;
}
.post-preview a {
  color: #000000;
  text-decoration: none; /* no underline */
}
.post-preview a:hover{
    text-decoration: underline;
}
.post-title{
  text-decoration: none;
  font-weight: bolder;
}
h1{
  font-size: 36px;
}
.post-preview .bottom p{
  font-size: 14px;
  color:rgb(179,179,177);
  font-weight: lighter;
}
.post-preview .bottom a{ 
  color:rgb(179,179,177);
  font-weight: lighter;
}
.paginate{
  color: #000000;
}
.paginate ul{
  margin: auto;
}
.pagination .page-info{
  display: none;
}
.pagination li {
  margin: 5px;
}
.pagination li:hover {

}
.pagination li a{
  color: #000000;
  font-size: 20px;
  text-decoration:none;
}
.pagination li a:hover{
  text-decoration: underline;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.blog-main-body{
  padding-top: 20px;
}
.blog-main-body img{
  width: 100%;
    height: auto;
}
.post-preview img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width:992px){
  .main{
    padding-top: 100px;
  }

  .blog-main-body{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

}
.share-blog a{
  font-size: 24px;
  text-decoration: none;
  color: #000000;
}
.prev-next{
  overflow: hidden;
}
.prev-next li{
  list-style-type: none;
}
.prev-next a{
    color: #000000;
}
.prev-next .previous{
  float: left;
}
.prev-next .next{
  float: right;
}
.detail-bottom{
  text-align: center;
}
.detail-bottom a{
  color: #000000;
}
