@import url('https://fonts.googleapis.com/css?family=Raleway');
.display{
max-width:100%;
max-height:100%;
height: auto;
width:auto;
}
.prev-next{
    padding-bottom: 5px;
}
.prev-next img{
    width: 100%;
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
.display-img img{
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
.display-img h1{
    font-family: 'Poiret One', cursive;
}
.display-img p{
    font-family: 'Raleway', sans-serif;
}
.badge{
    font-size: 15px;
}
@media screen and (max-width: 1000px) {
    .prev-next{
        display: none;
    }
}
@media screen and (min-width: 1001px){
    .display{
        max-height:600px;

    }
}