
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
}
.social-icons{
  text-align: center;
}

.item {
  margin: 20px 0;
}

h2 {
  color: #7596B8;
  font-weight: 700;
  display: inline-block;
  line-height: 40px;
  margin-top: 28px;
}


.rule {
  box-sizing: border-box;
  height: 1px;
  background: #7596B8;
}

h3 {
  color: #979797;
  font-weight: 700;
  margin-top: 20px;
}

.of {
  font-weight: 300;
  font-style: italic;
}

h4 {

}

h4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3, h4 {
  line-height: 28px;
}

h5 {
  font-size: 10px;
  color: #7596B8;
  margin-top: 0;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}



@media (min-width: 645px) {
  
   h1, h2, h3, h4 {
    font-size: 24px;
  }
  
  h5 {
    font-size: 12px;
  }
  
  h3, h4 {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
  }
    
  h4 ul {
    margin-right: 48px;
  }
  
  h4 li {
    padding: 0 0 12px 0;
  }
  
}

@media (min-width: 820px) {
  
  
}