{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags blog_tags comment_tags keyword_tags rating_tags i18n disqus_tags staticfiles%}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            (<a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                data-disqus-identifier="{% disqus_id_for blog_post %}">{% spaceless %}
                {% trans "Comments" %}
            {% endspaceless %}</a>)
        {% else %}(<a href="#comments">{% spaceless %}
            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
        {% endif %}
    {% endif %}
</p>
{% endblock %}


{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-3 blog-sidebar"> 


    <form class="search-block" action="{% url "search" %}" role="search">
    <div class="row search-input-row">
    <input class="search-input" placeholder="{% trans "Type here" %}" type="text" name="q" value="{{ request.GET.q }}">
    </div>
    <div class="row">
    <input type="submit" class="btn-block btn btn-secondary" value="{% trans "Search" %}">
    </div>
    </form>
 
    <div class="row recent-post-row">
        {% block blog_recent_posts %}
          {% blog_recent_posts 5 as recent_posts %}
            {% if recent_posts %}
                <div class="row col-lg-12">
                    <h3>{% trans "Recent Posts" %}</h3>
                </div>
                <ul class="row col-lg-12 list-unstyled recent-posts">
                    {% for recent_post in recent_posts %}
                        <li class="row col-lg-12 recent-post">
                    {% spaceless %}
                        <a href="{{ recent_post.get_absolute_url }}">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
                        <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
                        {% endif %}
                    {{ recent_post.title }}
                        </a>
                     {% endspaceless %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </div>


    {% block blog_months %}
    {% blog_months as months %}
    {% if months %}
    <h3>{% trans "Archive" %}</h3>
    {% for month in months %}
        {% ifchanged month.date.year %}
            {% if not forloop.first %}</ul>{% endif %}
            <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
        {% endifchanged %}
        <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
            >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}



    {% block blog_categories %}
    {% blog_categories as categories %}
    {% if categories %}
    <h3>{% trans "Categories" %}</h3>
    <ul class="list-unstyled">
    {% for category in categories %}
    <li><a href="{% url "blog_post_list_category" category.slug %}"
        >{{ category }}</a> ({{ category.post_count }})</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}



    </div>
    <div class="col-lg-9 main">
    {% block blog_post_detail_sharebuttons %}
    {% set_short_url_for blog_post %}
        <div class="share-blog">
            share this blog:
            <a class="" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}"><strong><i class="fab fa-twitter"></i> </strong></a>
            <a class="" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}"><i class="fab fa-facebook"></i></a>      
        </div>
    {% endblock %} 

	{% block blog_post_main%}
    
		{{ block.super }}
		
		{% block blog_post_list_post_content %}
			
		{% endblock %}

        <div class="blog-main-body">
		{% block blog_post_detail_content %}
		{% editable blog_post.content %}
		{{ blog_post.content|richtext_filters|safe }}
		{% endeditable %}
		{% endblock %}
		</div>

		{% block read_more%}
		{% endblock %}
	{% endblock %}	

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="list-inline tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}



 {% block blog_post_detail_rating %}
<!--<div class="panel panel-default rating">
    <div class="panel-body">
    {% rating_for blog_post %}
    </div>
</div>-->
{% endblock %} 



{% block blog_post_previous_next %}
    <ul class="row prev-next">
    {% with blog_post.get_previous_by_publish_date as previous %}
        {% if previous %}
            <li class="previous col-lg-6">
                <a href="{{ previous.get_absolute_url }}"><i class="fa fa-arrow-left"></i> {{ previous }}</a>
            </li>
    {% endif %}
    {% endwith %}
    {% with blog_post.get_next_by_publish_date as next %}
        {% if next %}
        <li class="next col-lg-6">
            <a href="{{ next.get_absolute_url }}">{{ next }} <i class="fa fa-arrow-right"></i>
        {% endif %}
    {% endwith %}
    </ul>
{% endblock %}



<div class="detail-bottom">
    {% block blog_post_detail_related_posts %}
        {% if blog_post.related_posts.all %}
            <div id="related-posts">
                <h3>{% trans 'Related posts' %}</h3>
                <ul class="list-unstyled">
                {% for post in blog_post.related_posts.all %}
                     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

<!--
    {% block blog_post_detail_comments %}
    {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
    {% endblock %}

-->

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://zuoweifu.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>
</div>
</div>
{% endblock %}
