{% load i18n mezzanine_tags comment_tags rating_tags %}

{% for comment in comments_for_thread %}
    <div class="">
        <div class="">
          <img class="" src="{% gravatar_url comment.email %}">
          <p class="">{{ comment.user_name }}</p>
        </div>
        <p class=""><br>{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</p>
        <p class=""> {{ comment.comment|comment_filter }}</p>
  </div>
{% endfor %}



{% if no_comments %}
    <p>{% trans "There are currently no comments" %}</p>
{% endif %}

