{% load i18n %}
{% if is_paginated %}
	<div class="row col-lg-12" style="margin: 0 auto;">

		    {% if page_obj.has_previous %}
		    	<a class="paginate" href="?page={{ page_obj.previous_page_number }}">
		    	{% trans "Previous" %}
		    	</a>
		    {% else %}
		    	<a disabled href="#"></a>
		    {% endif %}
		
			<p class="paginate" >/</p>

		    {% if page_obj.has_next %}
		    	<a class="paginate" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
		    {% else %}
		    	<a disabled href="#"></a>
		    {% endif %}

	</div>
{% endif %}
