{% load i18n %}
{% if is_paginated %}
	<div class="row col-lg-12">
	    <div class="col-lg-4">

		    {% if page_obj.has_previous %}
		    	<a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">
		    	{% trans "Previous" %}
		    	</a>
		    {% else %}
		    	<a class="btn btn-outline-secondary" disabled href="#">{% trans "Previous" %}</a>
		    {% endif %}

		   </div>
		   <div class="col-lg-4">
			    {% blocktrans with page_number=page_obj.number total_pages=page_obj.paginator.num_pages %}
				    page {{ page_number }} of {{ total_pages }}
				{% endblocktrans %}
		    </div>
		    <div class="col-lg-4">

		    {% if page_obj.has_next %}
		    	<a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
		    {% else %}
		    	<a class="btn btn-outline-secondary" disabled href="#">{% trans "Next" %}</a>
		    {% endif %}

	  	</div>
	</div>
{% endif %}
