<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}


<!--head-->

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>FZW</title>


    <!--css-->

    {% compress css %}
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "fontawesome/fontawesome-all.js" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!--js-->

    {% compress js %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>




<!--body-->

<body id="{% block body_id %}body{% endblock %}">
        
    <div class="canvas">
        
        <!--nav bar-->
        <div class="container header">
            <div class="row"> 
                <div class="col-lg-8">
                </div>
                <div class="col-lg-4">
                    <nav class="navbar navbar-expand-lg navbar-light">
                      <a class="navbar-brand" href="#"></a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                         {% page_menu "pages/menus/dropdown.html" %}
                      </div>
                    </nav>
                </div>
            </div>
        </div>

       
        <!--main-->
                
        {% block all_content %}
            <section id="{% block section_id %}content{% endblock %}">
                <div class="container">
                    <div class="row">
                        {% block main_wrapper %}
                        <div class="col-lg-{% block main_col_size %}12{% endblock %} {% block main_class %}middle{% endblock %}">
                        {% block main %}{% endblock %}
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </section>
        {% endblock %}

        <!--footer-->
        


        <footer class="footer">
             <div class="social-icons">
                <a href="https://www.facebook.com/zuowei.fu"><i class="icons fab fa-facebook-square" style="color:rgb(64,104,176);"></i></a>
                <a title="" data-placement="top" href="https://www.linkedin.com/in/zuowei-fu-098531102/" data-original-title="Linkedin"><i class="icons fab fa-linkedin" style="color:rgb(17,120,179);"></i></a>
                <a title="" data-placement="top" href="https://github.com/zuoweifu" data-original-title="Github"><i class="icons fab fa-github-square" style="color:rgb(34,37,41);"></i></a>
            </div> 
            <div class="footer-copyright">
                <p>Made by zuowei.fu with ❤️ </p>
            </div>
            <a href="#" class="go-top">Go Top</a>
        </footer>
   </div>

{% compress js %}
<script src="{% static "js/jquery.js"%}"></script>
<script src="{% static "js/tether.min.js"%}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
<script src="{% static "js/typing.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
            // Show or hide the sticky footer button
            $(window).scroll(function() {
                if ($(this).scrollTop() > 200) {
                    $('.go-top').fadeIn(200);
                } else {
                    $('.go-top').fadeOut(200);
                }
            });
            
            // Animate the scroll to top
            $('.go-top').click(function(event) {
                event.preventDefault();
                
                $('html, body').animate({scrollTop: 0}, 300);
            })
        });
</script>
{% endcompress %}
</body>
</html>
