{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block extra_css %}
<style type="text/css">
    .footer{
        display: none;
    }
    .homepage-main img{
        display: block;
        margin-left: auto;
        margin-right: auto;width: 80%;height: auto;
    }
    .homepage-main p {
        padding-left:10%;
        font-family: 'Quicksand', sans-serif;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
{% endblock %}

{% block meta_title %}{% trans "Portfolio" %}{% endblock %}
{% block title %}{% trans "Portfolio" %}{% endblock %}


{% block main %}
    
    <div class="homepage-main">
    <img src="{% static "img/milkyway.gif" %}"/>
        <p>2018.7.22 @ Humble beach</p>
        <p>The road is long, we carry on / Try to have fun in the meantime -- Lana del rey</p>
      
    </div>


{% endblock %}
